<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!-- TODO: change this to the server's path -->
    <add name="RRZ_Membership" connectionString="data source=.;initial catalog=Surveya_Dev;user id=sa;password=@dtech5Q1Exp;"/>
    <add name="Surveya_DevEntities" connectionString="metadata=res://*/SurveyaModel.csdl|res://*/SurveyaModel.ssdl|res://*/SurveyaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Surveya_Dev;user id=sa;password=@dtech5Q1Exp;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="RRZ_SMSEntities" connectionString="metadata=res://*/SurveyaModel.csdl|res://*/SurveyaModel.ssdl|res://*/SurveyaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Surveya_Dev;user id=sa;password=@dtech5Q1Exp;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ErrorFilePath" value="~/Logs/ErrorFile.log"/>
    <add key="LogFilePath" value="~/Logs/LogFile.log"/>
    <add key="EmailTemplateBasePath" value="~/EmailTemplates/"/>
    <!-- email address all emails are sent from -->
    <add key="systemEmail" value="noreply@rrzdev.co.za"/>
    <!-- TODO: change this to the server's path -->
    <!-- links to referenced pages in emails -->
    <add key="baseLinkPathProfile" value="http://surveya.rrzdev.co.za/Administration/Profile"/>
    <add key="baseLinkPathLogin" value="http://surveya.rrzdev.co.za/Account/Login"/>
    <add key="baseLinkPathPayment" value="http://surveya.rrzdev.co.za/Administration/PackagePayment"/>
    <add key="baseLinkPathForgotPassword" value="http://surveya.rrzdev.co.za/Account/ResetPassword?id="/>
    <add key="baseLinkPathMaintenance" value="http://surveya.rrzdev.co.za/Administration/Maintenance"/>
    <add key="baseLinkPathAddCompanyUsers" value="http://surveya.rrzdev.co.za/Administration/Users"/>
    <add key="baseLinkPathVerifyEmail" value="http://surveya.rrzdev.co.za/Account/VerifyEmail?verifyID="/>
    <!-- link to the report viewer -->
    <!--<add key="baseLinkPathReportViewer" value="http://surveya.rrzdev.co.za/Reports/View" />-->
    <add key="baseLinkPathReportViewer" value="http://surveya.rrzdev.co.za/Reports/View"/>
    <!-- link for policies / documents -->
    <add key="baseLinkPathPrivacyPolicy" value="http://surveya.global/privacy-policy.pdf"/>
    <add key="baseLinkPathPCIPOPIPolicy" value="http://surveya.global/privacy-policy.pdf"/>
    <!--<add key="baseLinkPathUserManual" value="http://surveya.rrzdev.co.za/UserManual.pdf" />-->
    <!-- Link for images for surveya logo -->
    <add key="defaultLogoPath" value="http://surveya.rrzdev.co.za/Content/Images/Surveyor_thumb.png"/>
    <add key="defaultThumbLogoPath" value="http://surveya.rrzdev.co.za/Content/Images/Surveyor_thumb.png"/>
    <add key="worldBankLogoPath" value="http://surveya.rrzdev.co.za/Content/Images/wbg_logo_white.png"/>
    <add key="enumeratorImagePath" value="http://surveya.rrzdev.co.za/Content/Images/Enumerators/"/>
    <!-- TODO: change this to the server's path -->
    <!-- Link for company image to be displayed in the email -->
    <add key="emailImage" value="http://surveya.rrzdev.co.za/companyThumb.html?id="/>
    <!-- Link for where the documents manager documents will be saved -->
    <!--<add key="DocumentManagerPath" value="\\.\sites$\Surveya\SurveyaService\DocumentManager" />-->
    <add key="DocumentManagerPath" value="C:\Sites\Surveya\SurveyaService\DocumentManager"/>
    <!-- path to where the audited response are uploaded to-->
    <add key="BulkAuditedResponsesPath" value="~/AuditedResponse/"/>
    <!-- link for emailed surveys-->
    <!--<add key="baseLinkPathEmailedSurveys" value="http://surveya.rrzdev.co.za/public/index.html?guid=" />-->
    <add key="baseLinkPathEmailedSurveys" value="http://surveya.rrzdev.co.za/public/v2/#/landing/"/>
    <!-- this is the email address that all new signup emails will be sent to (for surveya) OverrideEmailAddress, r@rrzsa.com-->
    <!--<add key="SurveyaSignupEmailAddress" value="r@rrzsa.com, billing@rrzinnovations.com"/>-->
    <add key="SurveyaSignupEmailAddress" value="zolani@rrzsa.com"/>
    <add key="OverrideEmailAddress" value="zolani@rrzsa.com"/>
    <add key="SkipAuthorizeLogin" value="true"/>
    <add key="AppName" value="Surveya"/>
    <add key="APIBaseUrl" value="https://rest.smsportal.com"/>
    <add key="APISecret" value="hlbUJFfF/fz2OAtykeNnxgaLEVyKcxt+"/>
    <add key="ClientID" value="f0432277-a147-4ec3-a91a-aec73e091727"/>
    <add key="SMSCreditsEmail" value="billing@rrzinnovations.com"/>
    <add key="TestMode" value="false"/>
    <add key="IncludeSMSFooterAlways" value="false"/>
    <add key="IncludeSMSFooterIfSpace" value="true"/>
    <add key="SMS_AuthorizeLogin" value="[Surveya] Authorization code:[Code]. Do not share this code with anyone."/>
    <add key="SMSFooterText" value=" (Powered by RRZ Innovations www.rrzsa.com)"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@rrzdev.co.za">
        <network host="mail.rrzsa.com" password="8afzbj+PSZvDh7(z" port="587" userName="noreply@rrzdev.co.za" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!--<customErrors mode="Off"/>-->
    <authentication mode="None"/>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="RRZ_Membership" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" applicationName="Surveya_Service" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="RoleProvider">
      <providers>
        <clear/>
        <add name="RoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="RRZ_Membership" applicationName="Surveya_Service"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="102400000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ATServiceBehaviour" name="Surveya_Service.Surveya_Service">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="RestServiceBindingConfig" contract="Surveya_Service.ISurveya_Service"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding crossDomainScriptAccessEnabled="true" name="RestServiceBindingConfig" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" closeTimeout="00:59:00" openTimeout="00:59:00" receiveTimeout="00:59:00" sendTimeout="00:59:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <!--<security mode="Transport"></security>-->
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ATServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json" helpEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <!--<add binding="basicHttpsBinding" scheme="https" />-->
      <add binding="basicHttpsBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <!--The followinng can be left out-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <!-- end of what can be left out -->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>